

#hero .masthead p{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

#hero .masthead h1{
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
}





