
#services, #about, #prices, #contact{
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#services .heading h1,
#prices .heading h1,
#contact .heading h1,
#others .heading h1,
#journey .heading h1{
  color: var(--heading);
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
}

#services .heading h1:before,
#prices .heading h1:before,
#contact .heading h1:before,
#journey .heading h1:before,
#others .heading h1:before{
  content: '';
  margin-right: 10px;
  width: 51px;
  height: 0;
  border: 4px solid #0095DA;
  transform: rotate(-90deg);
}

